*{
    box-sizing: border-box;
}

.divElement{
    border: 1px solid black;
    height: 40px;
    width: 40px;
}

.divElement:hover{
    background-color: black;
}


.divContainer{
    display: flex;
}