*{
    box-sizing: border-box;
}

.divElement{
    border: 1px solid black;
    flex: 1;
}

.divElement:hover{
    background-color: black;
}

section{
    height: 600px;
    width: 600px;
    border: black 1px solid;
    display: flex;
    flex-direction: column;
}


.divContainer{
    display: flex;
    flex: 1;
}